// COLOR VARIABLES
$green: #16f58d;
$primary: hsl(322, 100%, 66%);
$l-blue: hsl(207, 100%, 98%);
$cyan: hsl(192, 100%, 9%);

$color-secondary: #101d2c;
$white: #fff;
$color-black: #101d2b;

// FONT 
$font-primary: 'Nunito', sans-serif;

//  BREAKPOINTS
$bp-largest: 75em;   
$bp-large: 62.5em;  
$bp-medium: 55em;   
$bp-small: 37.5em;   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: 'Open+Sans', sans-serif;
    font-size: 1.2rem;
    
    color: rgb(78, 77, 77);
    @media only screen and (max-width: $bp-small) {
        padding: 0;
    }
}



